<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Oops! We could not find what you are looking for</h2>
        <p>Please, search the product using the Item name or Specification .</p>
        <hr />
        <p>Click the button below to be redirected to the products page.</p>
        <p>
            <a asp-controller="ProductController1" asp-action="Index" class="btn btn-outline-success">Products</a>
        </p>
    </div>
</div>