@{
    ViewBag.Title = "Contact us";
}

<center><h2>@ViewBag.Title</h2></center>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Contact Details</h2>
        <p>
            CellPhone Number:082 442 5258
        </p>
        <p >
            Whatsapp number :078 263 0401
        </p>
    </div>
    <div class="col-md-4">
        <h2>QUERIES</h2>
        <p >Fax Number: 64 281 7791</p>
        <p >Email:IncredibleTech@gmail.com</p>
        <p >Office Number: (031) 672 7655</p>
    </div>
    <div class="col-md-4">
        <h2>Postal Address</h2>
        <p ">P.O BOX 117</p>
        <p >ElandSkop </p>
        <p >3226</p>
    </div>
</div>


