@{
    ViewData["Title"] = "Home Page";
}

  
<div class="jumbotron">
    <h1><em> Welcome To Incredible Technology  </em></h1>
    <p class="lead"><em>We take technology to another level</em></p>
</div>
 
        <div>
    <p >
                    <B>
                        <h5>
                Get Yourself the best Personal Computer you will ever get in any computer store by just clicking the PLACE ORDER button down below..
                <p>

                </p>
                <p>
                    We also have computer parts such as RAM, CPU, Motherboard etc..
               </p>
                        </h5>
                        

                    </B>
                </p>

    <div class="jumbotron">
        <p class="lead"></p>
        <p><a href="https://localhost:44300/Home/Contacts" class="btn btn-primary btn-lg">For More Info &raquo;</a></p>
    </div>

    <hr />
    INCREDIBLE TECH!! WE ARE HERE FOR YOU
    <hr />
        </div>
           
        <div>
                <h2>Opening Hours</h2>
                <p>
                    <B>
                        @* <h3 class="mb-4">Opening Hours</h3>*@
                        <p class="openinghours d-flex">
                            <span>Monday - Friday</span>
                            <span>8:00 - 17:00</span>
                        </p>
                        <p class="openinghours d-flex">
                            <span>Saturday -</span>
                            <span>10:00 - 14:00</span>
                        </p>
                        <p class="openinghours d-flex">
                            <span>Sunday -</span>
                            <span>10:00 - 13:00</span>
                        </p>


                    </B>

                </p>
        </div>
            
      
            
<div class="jumbotron">
    <p class="lead"></p>
    <p><a href="https://localhost:44300/ProductController1" class="btn btn-primary btn-lg">Place Order Here &raquo;</a></p>
</div>
