<center><h1>About us</h1></center>
<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
        <p>
            <B>
                IncredibleTech Ltd offer incredible and of good quality brand new personal computers and their parts,
                incuding gaming peripherals.
                We are all about putting smilles on customer's faces. If you are in need of any king of personal computer, do not hesitate to contact us in details that are provided below.
                
                10+ years of experience.
               
            </B>
        </p>
         <h3>Vision</h3>
        <p>
            <B>
              Our Vision is to help people get our affordable products remotely. 
              We also want to in create the use of technology among townships and rural areas which are places that are considered as
              places that lack technology. Incredible Technology aim to take technology to another level
            </B>
        </p>
       
    </div>
</div>
<div class="jumbotron">
    <p class="lead"></p>
    <p><a href="https://localhost:44300/Home/Contacts" class="btn btn-primary btn-lg">For More Info &raquo;</a></p>
</div>
